

<a class="coming-soon-badge" href="#">
  <div class="badges"><br>
      <p>
          <span class="firstLine">COMING</span><br>
          <span class="secondLine">SOON</span><br>
          <span class="thirdLine">NOV 1st</span><br>
          <!-- <span class="fourthLine">AS A POPULAR INVESTOR</span> -->
      </p>
  </div>
</a>
