<div class="row">
  <div class="col-md-12">
    <%= link_to preschool_farm_fun_path, class: "has-featured-image" do %>
      <%= image_tag "pff-banner.png", class: "featured-image" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render "appstore_button" %>
  </div>


  <link href='http://fonts.googleapis.com/css?family=Cantora+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
</div>
