<% title "About" %>

<% keywords "Charlotte, Parenting, Parents, Kids, Humans, HumansWithKids, HWK, Children, Babies" %>
<% description "Humans With Kids is a company dedicated to helping Fathers (and Mothers) walk the path of being a Human with a Kid." %>


<div class="col-md-6 col-md-offset-3">

  <h1>About Humans With Kids</h1>

  <article id="about-me">
    
    <%#= image_tag(asset_path("about-me.jpg")) %>
    
    <p>Becoming a parent is more than just becoming a human with a kid. When you hold that child in your arms for the first time you are amazed at the love and joy you feel because of this tiny, screaming thing. Then you get home and realize you have no idea what you are going to do for the next 18 years. But figuring things out is fun, and figuring out your family should be fun too.</p>

    <p>As for us, we are both named Andrew.</p>

    <p>Andrew Weiler claims to be a Pirate, but Andrew Gertig is actually from the Islands.</p>

    <p>Andrew Gertig can program computers, but Andrew Weiler creates programs for Kids.</p>

    <p>We currently each have 2 kids, but neither one of us has fatherhood figured out.</p>

    <p>We just figure we better enjoy being fathers.</p>

    <p>This space is all about life in a family. Creative Ideas, Commiseration, Cool New Toys, Collected Wisdom. We want to be the kind of Dads our kids are glad to have, and we want to be a part of a community to help make that happen for ourselves and others as well.</p>

    <p>You can connect with us at Weiler@humanswithkids.com or Gertig@humanswithkids.com</p>


  </article>

</div>