<% title "Hire Me" %>
<% keywords "Charlotte, Hire Me, Consulting, Christian, Jamaica, Ruby on Rails, Javascript, Air Force, Sales, Marketing, Productivity" %>
<% description "If you're interesting in hiring me I am available in 1 hour blocks in the evenings and weekends. My rate is $150/hour." %>

<article id="hire-me">
  
  <%= image_tag(asset_path("about-me.jpg")) %>
  
  <hr>

  <p>If you are interesting in hiring me as a consultant I am available in 1 hour blocks in the evenings and weekends. My rate is $150/hour.</p>
  
  <p>Get in touch by sending an email to andrew.gertig at google's email. I look forward to hearing from you.</p>
  
  <hr>
  
</article>