
<h1 id="blog-title">Andrew Gertig</h1>

<% @posts.each do |post| %>

   <!-- <div class="span2 post-author">
     <p>
       <strong><%= link_to post.user.name, author_path(post.user) %></strong>
     </p>
     <p>
      <%= post.published_on %>
     </p>
   </div> -->
 
   <div class="post-content">
     <h3 class="post-title">
         <%= link_to post.title, blogpost_path(post) %>
     </h3>
     
     <p class="post-date">
      <%= post.published_on %>
     </p>

     <div class="post-body">
        <%#= raw post.content %>
     </div>
   </div>

<% end %>
