<div class="main-container">

    <% @posts.each do |post| %>
         
         <article class="post-container featured-post">
             <h2 class="post-title">
                <%= link_to post.title, blogpost_path(post) %>
             </h2>
             <span class="post-date"><%= post.published_on %></span>

             <% if post.content %>
               <%= markdown(post.content).to_html.html_safe %>
             <% end %>
         </article>

    <% end %>

    <div id="post-navigation" class="clearfix" >
      <%= link_to "â† More Posts", archives_path, class: "previous-post" %>
    </div>

</div>