<% title "iOS for Parents - The guide to iPhone, iPad and iPod touch security and safety" %>

<% keywords "iPhone, Parenting, Pornography, iPad, iPod touch, iOS, Apple, App Store, Safety, Security" %>

<% description "iOS for Parents is a book by Andrew Gertig and Andrew Weiler that teaches parents how to talk with their children and how to ensure their children are safe when using iPhones, iPads or iPod touches." %>

<%# CUSTOM STYLES, JAVASCRIPT, FONTS %>
<% content_for :landing_page_head do %>
  <%= stylesheet_link_tag    "ios-for-parents-manifest", :media => "all" %>
  <%#= javascript_include_tag "landing-page-manifest" %>

  <link href='http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic|Alegreya:400,700|Open+Sans:400italic,400,700|Audiowide|Viga' rel='stylesheet' type='text/css'>

  <link href='http://fonts.googleapis.com/css?family=Kreon:300,400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
<% end %>

<div class="container">
  <div class="row">

    <div id="page-container" class="col-md-12">
    <!-- <div id="page-container" class="col-md-8 col-md-offset-2"> -->

      <div class="content-header">
        <h1 class="content-lead">PROTECT YOUR FAMILY AND YOUR DEVICES</h1>
        <h3 class="content-sublead">The ultimate guide to securing your iPhone, iPad or iPod touch.</h3>
      </div>

      <div class="content-intro">
        <p>
          Samantha describes herself as "tech savvy", has a 10 year old son, and was devastated when she discovered he had accidentally, at first, been viewing pornographic material on his iPod touch. Samantha is not alone, she is in fact very normal. This book is for her and for you.
        </p>

        <p>
          We have heard numerous stories that are similar to Samantha's and think know that many of them could have been prevented. This book covers topics and techniques for parents of 2 year olds all the way to parents dealing with the techie teenager. Our tutorials are detailed and simple to follow but our goal is for you to learn the concepts so that you can feel confident that you are in control.
        </p>

        <p>
          We are the perfect duo to write this book. Andrew Gertig is a registered iOS developer and knows the inner workings of the operating system. Andrew Weiler is a childre's minister and knows the inner workings of young minds. Our hope for you is that you will feel equipped, confident, and knowledgable about all the ways that you can indeed be in control of the technology that you use every day.
        </p>
      </div>

      <!-- <div class="row">
        <div class="col-md-6">

        </div>

        <div class="col-md-6">

        </div>
      </div> -->

    </div>

  </div>
</div>
