<% title "Preschool Farm Fun" %>

<% keywords "Vegetables, Farming, Counting, Numbers, Colors, Identification, Executive Function, Learning, Eduction" %>

<% description "Preschool Farm Fun is a fun iPad app for kids aged 18 months to 5 years old. On the Farm they will learn about many types of vegetables, counting, colors and much much more." %>

<div class="hero-image center-block">
  <%= image_tag "welcome_banner.png", class:"img-responsive", alt:"Preschool Farm Fun Banner" %>
  <!-- <img src="" class="img-responsive" alt="Preschool Farm Fun Banner"> -->
</div>
