<% title "Preschool Farm Fun" %>

<% keywords "Vegetables, Farming, Counting, Numbers, Colors, Identification, Executive Function, Learning, Eduction" %>

<% description "Preschool Farm Fun is a fun iPad app for kids aged 18 months to 5 years old. On the Farm they will learn about many types of vegetables, counting, colors and much much more." %>


<div class="header">
  <%= image_tag "header.png", class: "", alt: "Preschool Farm Fun Header" %>
</div>

<section id="main" class="container shadow">

  <section class="row">
    <h1 class="text-center col-sm-12">Preschool Farm Fun</h1>
    <h2 class="text-center col-sm-12">A chance for your child to play with their food and learn about vegetables!</h2>
  </section>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>
        Preschool Farm Fun is an educational game that teach kids counting, colors,
        and shape-sorting. These are all important learning skills your preschool needs
        to develop. We also believe that encouraging kids to recognize vegetables will
        help encourage them to eat them as well. So we wrapped these skills in delicious,
        good for you veggies to hopefully help your family develop great foundational skills
        for learning and health.
      </p>
    </div>
  </div>

  <section>
    <h2 class="border-b">Meet the Team</h2>
    <div class="row center">
      <div class="col-sm-6 col-lg-3">
        <div id="fc-slideshow" class="fc-slideshow">
          <ul class="fc-slides">
            <li><%= image_tag "agertig.png",  class: "shadow" %></li>
            <li><%= image_tag "agertig2.png", class: "shadow" %></li>
          </ul>
        </div>
        <h4 class="pad-md-t">
          Andrew Gertig</h4><p>Product Strategist and Developer
        </p>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div id="fc-slideshow4" class="fc-slideshow">
          <ul class="fc-slides">
            <li><img src="assets/mel.png" class="shadow" /></li>
            <li><img src="assets/elle2.png" class="shadow" /></li>
          </ul>
        </div>
        <h4 class="pad-md-t">Mel Shields</h4><p>Illustrator and Content Strategist</p>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div id="fc-slideshow2" class="fc-slideshow">
          <ul class="fc-slides">
            <li><img src="assets/aweiler.png" class="shadow" /></li>
            <li><img src="assets/aweiler2.png" class="shadow" /></li>
          </ul>
        </div>
        <h4 class="pad-md-t">Andrew Weiler</h4><p>Marketing and Content Strategist</p>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div id="fc-slideshow3" class="fc-slideshow">
          <ul class="fc-slides">
            <li><img src="assets/elle.png" class="shadow" /></li>
            <li><img src="assets/elle2.png" class="shadow" /></li>
          </ul>
        </div>
        <h4 class="pad-md-t">Elle Weiler</h4><p>Vocalist</p>
      </div>
    </div>
  </section>

  <section class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="border-b">How We Got Here</h2>
      <p>We watched a TEDtalk by chef Jamie Oliver, who inspired us to get creative and do what we can to help some families develop healthier habits. The three of us had already been dabbling in some app development ideas, but hadn’t landed on the right idea yet. One of the moments that struck us was when elementary kids in West Virginia could not recognize many basic veggies, like broccoli, cucumbers, and sweet potatoes. We thought, “Why not get involved?” We are all TED junkies, and what is a TED wish for, if not to inspire some action? So we started dreaming about veggies, farmers and gardens, we even had a robot for a while. Since, there are 4 kids under 5 spread across our homes, we decided to create something that we would like to have for our kids.</p>
    </div>
  </section>

  <section class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="border-b">What we believe about technology and kids</h2>
      <p>There is no substitute for being fully present in and understanding the physical world. Preschool age minds need to understand time, space, reactions, facial expressions, and so much more. They need the security of your emotional presence to learn. Technology should not remove kids from interactions with others. Instead, it should create better connections. It is our hope that by allowing your child to play our game, we can partner with you by helping inspire stories of your garden, cooking, or grocery store exploits. Our hope is that Preschool Farm Fun can be a gateway of exploration into good, healthy food for your whole family.</p>
    </div>
  </section>

  <section class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="border-b">What we believe about Parenting</h2>
      <p>Preschool Farm Fun was created in conjunction with Humanswithkids.com. One of the foundational beliefs of Humans With Kids is that Parents should seek to become a legend in their homes. The truth is, you will never have more influence on anyone more than you do with your children. We are constantly creating and curating ways to help you cultivate that influence. Great health is something any parent desires for their children. While we can’t change our genes, we can influence our habits. So, we created Preschool Farm Fun. We want to make veggies fun. So use it that way. Play with your kids, then take them with you to the grocery store with you. Instead of dreading the candy aisle, start looking forward to the produce aisle. Ask your kids to pick out their favorite veggies. Count them, name them, and then use them to create a foundation for eating right.</p>
    </div>
  </section>


  <section>
    <h2 class="border-b">Shop</h2>

    <div class="row">
      <div class="col-sm-6">
        <h3>Preschool Farm Fun</h3>
        <p>paragraph text: Here's a paragraph of text to help style the content that'll be inputed into this site. The content will describe Preschool Farm Fun and the cool peeps involved in the project.</p>
      </div>
      <div class="col-sm-6">
        <h3>T-Shirts</h3>
        <p>paragraph text: Here's a paragraph of text to help style the content that'll be inputed into this site. The content will describe Preschool Farm Fun and the cool peeps involved in the project.</p>
      </div>
    </div>
  </section>


  <section>
    <h2 class="border-b">Contact Us</h2>
  </section>

</section>