<p>We respect and value your privacy.</p>

<p>In our apps we do not collect, store, or share any personal information or location data. We do not have advertisements or in-app purchases. We only externally link in protected parent areas to our support website, social media pages, and our other apps.</p>

<p>If you have any questions about our privacy policy, please <%= link_to "Contact Us", about_path %>.</p>