<section>
  <% @posts.each do |post| %>

     <h2 class="archives-post-title">
        <%= link_to post.title, blogpost_path(post) %>
     </h2>
   
     <span class="archives-post-date">
        <%= post.published_on %>
     </span>

  <% end %>
</section>