<div class="col-md-6 col-md-offset-3">
  <section class="post-form-container">

    <%#= render "sidebar" %>

    <h1>New post</h1>

    <%= render 'form' %>

    <%= link_to 'List of my Posts', user_posts_path(@post.user), class: "btn" %>

  </section>
</div>