/** { outline: 1px solid #369; }*/

// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/** { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }*/


html {
/*  background-image: url(/assets/grid.png); */
}

body { 
/*  background-image: url(/assets/grid.png); */
//  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: auto; //this fixes the problem with Bootstrap's 940px width not allowing the posts to be fluid
  max-width: 600px;
  margin: 0 auto;
}

.top {
  margin-top: 20px;
}


#admin-link {
  position: absolute;
  z-index: 1;
  top: 6px;
  right: 5px;
  width: 30px;
  height: 21px;
/*  background: #336699;*/
}

#home-link {
  position: absolute;
  top: 6px;
  left: 5px;
  width: 30px;
  height: 21px;
}


/* HOME
====================== */

a#blog-title {
  color: #8562ef;
  margin: 20px 0 0;
  font-size: 3.0em;
  line-height: 1.5em;
  /*  text-align: center;*/
/*    font-family: 'Satisfy', cursive;*/
  font-family: 'Dancing Script', cursive; 
    
  &:hover { 
    text-decoration: none; 
  }

}


/* SOCIAL BUTTONS
====================== */
#social-buttons {
  padding-bottom: 60px;
  margin: 0 auto;
  text-align: center;
  
  a {
    margin: 8px;
    &:active, &:hover {
      text-decoration: none;
    }
  }
}
