// * { outline: 1px solid #369; }

// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/** { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }*/

$purple: #8562ef;
$midnight: #2C3E50;
$black: #333333;

$hwk-blue: #366FC1;
$hwk-green: #6AD374;
// $navbar-height:  80px !default;

html {
/*  background-image: url(/assets/grid.png); */
  height: 100%;
}

body {
/*  background-image: url(/assets/grid.png); */
  height: 100%;
  padding-top: $navbar-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Istok Web', sans-serif;
  // font-family: 'Open Sans', sans-serif;
  // font-family: 'Alegreya', serif;
  color: $midnight;
  // color: $hwk-blue;
  font-weight: 700;
}

p {
  font-family: 'Droid Serif', sans-serif;
  color: $midnight;
}

.main-container {
  @extend .container;
  // width: auto; //this fixes the problem with Bootstrap's 940px width not allowing the posts to be fluid
  // max-width: 664px;
  // margin: 0 auto;
}

.top {
  margin-top: 20px;
}

#admin-link {
  position: absolute;
  z-index: 1;
  top: 6px;
  right: 5px;
  width: 30px;
  height: 21px;
}

#home-link {
  position: absolute;
  top: 6px;
  left: 5px;
  width: 30px;
  height: 21px;
}

.hwk-logo {
  height: 60px;
  margin: 10px 10px 10px 0px;
}

a.navbar-brand {
  padding: 0;
}

/* HERO IMAGE
====================== */
.hero-image-wrapper {
  @extend .container;

  position: relative;
  width: 100%;
  height: 70%;


  .actual-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background-position: center center;
    background-position-x: 50%;
    background-position-y: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    // background-size: contain;

    @media (max-width: 768px) {
      background-attachment: scroll;
      // background-size: contain;
    }
  }
}

.hero-mission-wrapper {
  @extend .container;

  position: relative;
  width: 100%;
  background-color: $hwk-green; /* Try a random background color */
  background-image: image-url("truchet@2x.png");
  background-size: 150%;
  margin-bottom: 40px;
}

.hero-subhead {
  text-align: center;
  // width: 400px;
  margin: 60px auto;
  line-height: 150%;
  // font-size: 44px;
  font-size: 50px;
  // color: #F8F8F8;
  color: #FFF;
  text-transform: uppercase;
}

a.dont-decorate {
  &:active, &:hover {
    text-decoration: none;
  }
}

article.featured-post {
  height: 580px;
  overflow: hidden;
  position: relative;
  // background: red;

  h3.featured-post-title {
    // a {
    // color: $black;
    color: $hwk-blue;
    // padding-bottom: 23px;
    letter-spacing: -1px;
    // font-weight: 500;
    // font-size: 40px;
    // }
  }

  .post-feature-image {
    border: solid 6px #ebebeb !important;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;


    width: 100%;
    height: 300px;
    // background-position: center center;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    // background-size: contain;
    overflow:hidden;
    // box-shadow: 0 5px 50px rgba(0,0,0,0.4);
  }
}

a.read-our-blog {
  @extend .btn;
  @extend .btn-success;
  @extend .btn-lg;
  @extend .btn-block;
  width: 280px;
  margin: 0 auto;
  font-size: 20px;

}

/* FEATURED HEADER IMAGE
============================= */
.has-featured-image {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
}

.featured-image {
  width: 100%;
}

/* HWK HOVERING LOGO
====================== */

#blurred-logo-wrapper {
  $logo-height: 140px;
  $logo-width: 400px;
  // position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  width: $logo-width;
  line-height: $logo-height;
  height: $logo-height;
  // margin: 60px auto;
  margin-top: -$logo-height/2; /* Half the height */
  margin-left: -$logo-width/2; /* Half the width */
  text-align: center;
  border: 3px solid #FFF;
  color: #FFF;
  background: inherit;


  &:before {
    content: '';
    position: absolute;
    top: 0; left:0; right:0; bottom:0;
    background: inherit;
    filter: blur(5px);
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: url(#blur);filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='6');
  }

  h1 {
    position: relative; //Needs to be relative to work
    color: #FFF;
    line-height: $logo-height;
    margin: 0;
    // z-index: 100;
  }
}


/* AVATAR
====================== */

// #avatar {
//   $size: 100px;
//   width: $size;
//   height: $size;
//   // float: left;
//   display: inline-block;
//   background-image: image-url("avatar2.jpeg"); //image-url is a sprockets helper, could also use asset-url("", image)
//   background-position: -5px 0px;
//   background-repeat: no-repeat;
//   border: 2px solid #ddd;
//   border-radius: ($size / 2);
//   vertical-align: middle;
//   margin-right: 10px;
//   margin-bottom: 6px;
// }




/* SOCIAL BUTTONS
====================== */
// #social-buttons {
//   padding-bottom: 40px;
//   margin: 0 auto;
//   text-align: center;

//   a {
//     margin: 8px;
//     &:active, &:hover {
//       text-decoration: none;
//     }
//   }
// }

/* FONTAWESOME SOCIAL BUTTONS
============================= */
  footer.ag-fa {
    position: relative;
    margin: 10px 0;
    text-align: center;
    padding: 4em 0 8em 0;
    box-shadow: inset 0 1px 0 0 #e6e6e6;

    &.home-page-social {
      box-shadow: none;
      margin: 0;
      // margin-top: 2em;
      // padding-bottom: 2em;
      // padding: 0;
      padding: 2em 0 1.8em 0;
    }
  }
  ul.icons {
    cursor: default;
    padding: 0;
    margin-bottom: 0;
  }

  ul.icons li {
    display: inline-block;
    padding-left: 0.75em;
  }

  ul.icons a {
    display: inline-block;
    width: 3.5em;
    height: 3.5em;
    line-height: 3.9em;
    text-align: center;
    border: 0;
    // box-shadow: inset 0 0 0 1px #e6e6e6;
    box-shadow: inset 0 0 0 1px #d6d6d6;
    // box-shadow: inset 0 0 0 1px $hwk-green;
    border-radius: 100%;
    color: #aaa;
    // color: $hwk-green;
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
  }

  ul.icons a:hover {
    background: rgba(0,0,0,0.025);
    // background: $hwk-green;
    box-shadow: inset 0 0 0 1px $hwk-green;
    color: $hwk-green;
  }

  // ul.icons a {
  //   box-shadow: inset 0 0 0 1px #d6d6d6;
  // }

  .fa.solo span {
    display: none;
  }

  .fa {
    text-decoration: none;
  }

  .fa:before {
    display:inline-block;
    font-family: FontAwesome;
    font-size: 1.65em;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


/* ABOUT
====================== */
article#about-me {

  img {
    margin-bottom: 20px;
  }
}

/* ARCHIVES
====================== */
#archives {
  margin-top: 40px;
  margin-bottom: 40px;
}

h2.archives-post-title {
  margin-bottom: 0px;
  // margin-top: 46px;
  font-size: 24.5px;

  a {
    color: $black;
  }
}

div.archives-post-content {
  p {
    @extend .post-content !optional;
    font-size: 16px;
    margin-bottom: 0;
  }
}

span.archives-post-date {
  margin-top: 0;
  color: #ccc;
}

.archives-post-image {
  border: solid 4px #ebebeb !important;
}


/* MAILCHIMP
====================== */
#mc_embed_signup {

  .indicates-required {
    text-align: right;
  }

  .asterisk {
    color: #c60;
    font-size: 18px;
  }
}

/* THANKYOU PAGE
====================== */

#thankyou-page {
  text-align: center;
}


/* BOOTSTRAP CALLOUT
====================== */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}
