 // * { outline: 1px solid #369; }

// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/** { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }*/

$purple: #8562ef;
$midnight: #2C3E50;
$black: #333333;

html {
/*  background-image: url(/assets/grid.png); */
  height: 100%;
}

body { 
/*  background-image: url(/assets/grid.png); */
 height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
/*  font-family: 'Open Sans', sans-serif;*/
  font-family: 'Alegreya', serif;
  color: $midnight;
}

.main-container {
  @extend .container;
  width: auto; //this fixes the problem with Bootstrap's 940px width not allowing the posts to be fluid
  max-width: 664px;
  margin: 0 auto;
}

.top {
  margin-top: 20px;
}

#admin-link {
  position: absolute;
  z-index: 1;
  top: 6px;
  right: 5px;
  width: 30px;
  height: 21px;
}

#home-link {
  position: absolute;
  top: 6px;
  left: 5px;
  width: 30px;
  height: 21px;
}

/* HERO IMAGE
====================== */
.hero-image-wrapper {
  @extend .container; 

  position: relative;
  width: 100%;
  height: 70%;


  .actual-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background-position: center center;
    background-position-x: 50%;
    background-position-y: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    // background-size: contain;
  }
}


/* HOME
====================== */

.navbar {

  // margin-bottom: 0px;
}

/* AVATAR
====================== */

#avatar {
  $size: 100px;
  width: $size;
  height: $size;
  // float: left;
  display: inline-block;
  background-image: image-url("avatar2.jpeg"); //image-url is a sprockets helper, could also use asset-url("", image)
  background-position: -5px 0px;
  background-repeat: no-repeat;
  border: 2px solid #ddd;
  border-radius: ($size / 2);
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 6px;
}




/* SOCIAL BUTTONS
====================== */
#social-buttons {
  padding-bottom: 40px;
  margin: 0 auto;
  text-align: center;
  
  a {
    margin: 8px;
    &:active, &:hover {
      text-decoration: none;
    }
  }
}

/* ABOUT
====================== */
article#about-me {
  
  img {
    margin-bottom: 20px;
  }
  
  // p {
  //   font-size: 18px;
  //   line-height: 26px;
  //   margin-bottom: 14px;
  // }
  
}

/* FOOTER
====================== */

