/*
 WHEN USING BOURBON MIXINS
 1. Rename application.css to application.css.scss
 2. Bourbon needs the sass files to be imported in a specific order to function properly. 
Therefore, you will need to disable the require_tree sprocket directive. 
Delete the following sprocket directive in application.css.scss: 
  require_tree . 
 3. Import all additional stylesheets from your app/assets/stylesheets directory underneath the bourbon import:
*/

/*@import "bourbon";*/

// $navbar-default-bg:                #ffffff !default;
@import "bootstrap-variables";
@import "bootstrap";
@import "font-awesome";


@import "app";
@import "posts";
@import "dashboard";
@import "products";

// Image Upload
@import "jquery.fileupload-ui";
@import "jquery.Jcrop";
@import "pictures";
@import "slimbox2";

// DateTime picker
@import "bootstrap-datetimepicker";