// * { outline: 1px solid #369; }

body {
  position: relative;
  width: 100%;
  // background-color: $hwk-green; /* Try a random background color */
  background-color: #EEE; /* Try a random background color */
  background-image: image-url("screens_light@2x.png");
  background-size: 100%;
}

p {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5em;
  margin: 20px 0;
}

h1 {
  font-family: 'Fjalla One', 'kreon', sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-family: 'kreon', sans-serif;
  font-size: 28px;
  font-weight: bold;
  // text-transform: uppercase;
  font-style: italic;
}

h1.content-lead {
  padding-top: 60px;
  text-align: center;
  letter-spacing: 1px;
}

h3.content-sublead {
  // padding-top: 80px;
  text-align: center;
  letter-spacing: 1px;
}

.navigation-header {
  margin-top: 10px;
}

// .container-fixed {
//   margin: 0 auto;
//   max-width: 1000px;
// }

#page-container {
  // width: 1000px;
  margin: 50px 0;
  // height: 800px; //Temp
  background: #FFF;
  box-shadow: 0px 0px 5px rgba(0,0,0,.3);
}

.content-intro {
  // width: 300px;
  // height: 100%;
  // background-size: 100%;

  // background: image-url("iOS-for-Parents.png") no-repeat 540px 40px;
  // background-size: 40%;
  // padding: 40px 650px 60px 120px;

  // border-bottom: 1px solid #eee;
  margin-top: 20px;
  margin-bottom: 50px;
}

.content-bookcover {
  // background: image-url("iOS-for-Parents.png") no-repeat 60px 40px;
  // background-size: 70%;
  // height: 800px;
  // padding: 40px 40px 10px 10px;
  padding: 20px 20px 20px 20px;
  // height: 400px;

}

#pre-order-button {
  display: block;
  width: 300px;
  height: 60px;
  margin: 0 auto 50px;
  font-size: 1.2em;

  span {
    text-decoration: line-through;

  }
}

.amazon-button {
  display: block;
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto 50px;
  font-size: 1.6em;

  span {
    text-decoration: line-through;

  }
}

// .hero-mission-wrapper {
//   @extend .container;
//
//   position: relative;
//   width: 100%;
//   background-color: $hwk-green; /* Try a random background color */
//   background-image: image-url("truchet@2x.png");
//   background-size: 150%;
//   margin-bottom: 40px;
// }


/* MEDIA QUERIES
***********************************************************/


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
// @media (max-width: 480px) {
//
// }

/* Small devices (tablets, 768px and up) */
@media (min-width: 767px) {
  .content-bookcover {
    padding: 30px 80px 30px 80px;
  }


  #pre-order-button {
    display: block;
    width: 400px;
    height: 60px;
    margin: 0 auto 50px;
    font-size: 1.7em;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .content-bookcover {
    padding: 30px 0px 30px 80px;
  }

  #pre-order-button {
    width: 400px;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .purchase {
    margin-top: 30px;
  }
}



/* AUTHOR
=========================== */

.author-card {

  position: relative;
  display: block;
  vertical-align: top;
  // width: 50%;
  padding: 0 20px 20px 0;
  // -webkit-box-sizing: border-box;
  // -moz-box-sizing: border-box;
  // box-sizing: border-box;
  color: #666665;
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  background-color: #FFF;

  // &:before {
  //   content: '';
  //   display: block;
  //   height: 1px;
  //   background: #dededc;
  // }

  .author-card-heading {
    display: none;
    visibility: hidden;
  }

  .author-card-image {
    position: absolute;
    left: 0;

    @media (max-width: 480px) {
      position: relative;
    }
  }

  .author-card-text {
    word-wrap: break-word;
    padding-left: 160px;
    min-height: 80px;

    @media (max-width: 480px) {
      padding-left: 0;
    }

    /* FONTAWESOME SOCIAL BUTTONS
    ============================= */
      ul.icons {
        padding: 0px;
      }

      ul.icons li {
        display: inline-block;
        padding-left: 0;
        padding-right: 0.75em;
      }

      ul.icons a {
        display: inline-block;
        width: 2em;
        height: 2em;
        line-height: 2.5em;
        text-align: center;
        border: 0;
        box-shadow: inset 0 0 0 0 #e6e6e6;
        border-radius: 100%;
        color: #aaa;
        -moz-transition: background-color 0.25s ease-in-out;
        -webkit-transition: background-color 0.25s ease-in-out;
        -o-transition: background-color 0.25s ease-in-out;
        -ms-transition: background-color 0.25s ease-in-out;
        transition: background-color 0.25s ease-in-out;
      }

      ul.icons a:hover {
        background: rgba(0,0,0,0.025);
      }

      ul.icons a {
        // box-shadow: inset 0 0 0 1px #d6d6d6;
      }

      .fa:before {
        display:inline-block;
        font-family: FontAwesome;
        font-size: 1.65em;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      .fa.solo span {
        display: none;
      }
  }

}


/* MAILCHIMP
====================== */
#mc_embed_signup {
  margin: 40px 0 40px;

  &:before {
    content: '';
    display: block;
    height: 1px;
    background: #dededc;
  }

  .indicates-required {
    text-align: right;
  }

  .asterisk {
    color: #c60;
    font-size: 18px;
  }
}
