// * { outline: 1px solid #369; }

// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// $black: rgb(42, 66, 78);
$black: #00a6ff;


p, #projects {
  // font-family: 'Open Sans', serif;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 14px;
}

mark {
  background-color: #fdffb6;
  padding: 2px;
  -webkit-box-shadow: #fdffb6 0 0 5px;
  -moz-box-shadow: #fdffb6 0 0 5px;
  box-shadow: #fdffb6 0 0 5px;
}

article.post-container {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;

  img {
    @extend .img-responsive;
    width: 100%;
    margin-bottom: 14px;
  }
  
  // .post-title {
  //   padding-bottom: 23px;
  //   letter-spacing: -1px;
  //   font-weight: 700;
  //   font-size: 76px;
  //   color: #00a6ff;

  //   // a {
  //   //   color: $black;
  //   //   // padding-bottom: 23px;
  //   //   letter-spacing: -1px;
  //   //   font-weight: 500;
  //   //   font-size: 40px;
  //   // }
  // }
  
  p, li, blockquote {
    // font-family: 'Open Sans', serif;
    // font-size: 22px;
    // margin-bottom: 16px;
  }

  p {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 16px;
  }

  blockquote {
    font-size: 20px;
    font-style: italic;
    line-height: 26px;
  }
  
  ol, ul {
    // padding-left: 20px;
    
    li {
        font-size: 20px;
        line-height: 26px;
      }
  }
  
  span.post-date {
    display: block;
    margin: -5px 0 10px;
    // color: #ccc;
    color: $hwk-green;
  }
  
  div.post-sharing-buttons {
    position: absolute;
    top: 12px;
    right: -120px;
  }
  
  div.post-admin-box {
    position: absolute;
    top: 0px;
    left: -120px;
  }
}



/* POST NAV
====================== */
#post-navigation {
  margin-bottom: 40px;
}

a.previous-post {
  float: left;
  // color: $purple;
}

a.next-post {
  float: right;
  // color: $purple;
}

/* POST SIDEBAR
====================== */

section.post-form-container {
  position: relative;
}

div.post-info {
  background: #EFEFEF;
  border: 1px solid #DDDDDD;
  padding: 10px;
  p {
    font-size: 14px;
    font-family: arial;
  }
}

div.post-info {
  position: absolute;
  top: 12px;
  right: -420px;
  width: 400px;
}


/* EDIT/NEW A POST
====================== */
div.word-count {
  margin: 10px 0;
}
form.ag-post-form {
  position: relative;
}

div.post-edit-left-sidebar {
  position: absolute;
  top: 12px;
  left: -120px;
}

.post-input-field {
  background-color: transparent;
  border: 0px solid;
  outline: none;
  border-radius: 0px;
  box-shadow: none;
}

textarea.post-input-title {
  margin-bottom: 10px;
  font-size: 30px;
  // font-family: 'Open Sans', sans-serif;
  color: #2c3e50;
  font-weight: 500;
  line-height: 1.4em;
  height: 1.4em;
  padding: 0;
  overflow: hidden;
  word-wrap: break-word;
  resize: none;

  &:focus {
    background: none;
    border: none;
  }
}

textarea.ag-post-editing-field {
  height: 800px;
  // font-family: 'Open Sans', serif;
  font-size: 18px;
  line-height: 130%;
  padding: 0;
}

/* Word Count when editing
=========================== */
ul#word-count.result {
  list-style-type: none;
  border-radius: 5px;
  margin: 0 0 10px;
  padding: 1.5em;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  list-style: none;

}

/* YOUTUBE
=========================== */
div.youtube-video {
  margin-bottom: 10px;
}


/* AUTHOR
=========================== */

.author-card {

  position: relative;
  display: inline-block;
  vertical-align: top;
  // width: 50%;
  padding: 0 20px 20px 0;
  // -webkit-box-sizing: border-box;
  // -moz-box-sizing: border-box;
  // box-sizing: border-box;
  color: #666665;
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;

  &:before {
    content: '';
    display: block;
    height: 1px;
    background: #dededc;
  }

  .author-card-heading {
    padding: 12px 0 28px;
    font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    letter-spacing: -0.02em;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 11px;
    color: #b3b3b1;
    letter-spacing: .1em;    
  }

  .author-card-image {
    position: absolute;
    left: 0;

    @media (max-width: 480px) {
      position: relative;
    }
  }

  .author-card-text {
    word-wrap: break-word;
    padding-left: 160px;
    min-height: 80px;

    @media (max-width: 480px) {
      padding-left: 0;
    }

    /* FONTAWESOME SOCIAL BUTTONS
    ============================= */
      ul.icons li {
        display: inline-block;
        padding-left: 0;
        padding-right: 0.75em;
      }
      
      ul.icons a {
        display: inline-block;
        width: 2em;
        height: 2em;
        line-height: 2.5em;
        text-align: center;
        border: 0;
        box-shadow: inset 0 0 0 0 #e6e6e6;
        border-radius: 100%;
        color: #aaa;
        -moz-transition: background-color 0.25s ease-in-out;
        -webkit-transition: background-color 0.25s ease-in-out;
        -o-transition: background-color 0.25s ease-in-out;
        -ms-transition: background-color 0.25s ease-in-out;
        transition: background-color 0.25s ease-in-out;
      }

      ul.icons a:hover {
        background: rgba(0,0,0,0.025);
      }

      ul.icons a {
        // box-shadow: inset 0 0 0 1px #d6d6d6;
      }

      .fa:before {
        display:inline-block;
        font-family: FontAwesome;
        font-size: 1.65em;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
  }

}

/* CONTACT US FORM
=========================== */
.contact-form {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-top: 20px;
  padding: 0 20px 20px 0;
  // -webkit-box-sizing: border-box;
  // -moz-box-sizing: border-box;
  // box-sizing: border-box;
  color: #666665;
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;

  &:before {
    content: '';
    display: block;
    height: 1px;
    background: #dededc;
  }

  .contact-form-heading {
    padding: 12px 0 28px;
    font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    letter-spacing: -0.02em;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 11px;
    color: #b3b3b1;
    letter-spacing: .1em;    
  }

  p {
    word-wrap: break-word;
  }
}


/* FOLLOW BUTTON
================================================== */

div.follow-button {
  width: 196px;
  margin: 0 auto 20px;
  // background: #343434;
}

div.you-should-join-because {

  h2 {
    // color: #260399;
    // color: $black;
    color: $hwk-blue;
  }

  &:before {
    content: '';
    display: block;
    height: 1px;
    background: #dededc;
  }

}

/* Responsive
-------------------------------------------------- */

@media (max-width: 2000px) {
  .post-title {
    padding-bottom: 23px;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 76px;
    // color: #00a6ff;
    color: $hwk-blue;
  }
}

@media (max-width: 980px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}


@media (max-width: 767px) {

}

@media (max-width: 480px) {

.hwk-logo {
  height: 30px;
  margin: 10px 10px 10px 0px;
}

body {
  padding-top: 50px;
}

.hero-mission-wrapper {
  background-size: 300%;
  margin-bottom: 20px;
}

.hero-subhead {
  text-align: center;
  margin: 24px auto 20px;
  line-height: 120%;
  font-size: 18px;
  color: #FFF;
  text-transform: uppercase;
}

footer.ag-fa.home-page-social {
  padding: 1.8em 0 0 0;
}

.navbar-fixed-top {
    min-height: 50px;
    // max-height: 50px;
}

.navbar-fixed-top .navbar-collapse {
    // max-height: 50px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 50px;
}

.navbar-brand {
  padding: 15px 15px;
}

.navbar-toggle {
  margin-top: 8px;
  margin-bottom: 8px;
}

.post-title {
    padding-bottom: 16px;
    letter-spacing: -1px;
    font-weight: 500;
    font-size: 40px;
    // color: #00a6ff;
    color: $hwk-blue;
  }

}
