// * { outline: 1px solid #369; }

// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$black: rgb(42, 66, 78);


p, #projects {
  font-family: 'Open Sans', serif;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 14px;
}

mark {
  background-color: #fdffb6;
  padding: 2px;
  -webkit-box-shadow: #fdffb6 0 0 5px;
  -moz-box-shadow: #fdffb6 0 0 5px;
  box-shadow: #fdffb6 0 0 5px;
}

article.post-container {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;

  img {
    @extend .img-responsive;
    width: 100%;
    margin-bottom: 14px;
  }
  
  h2.post-title {
    a {
      color: $black;
    }
  }
  
  p, li, blockquote {
    font-family: 'Open Sans', serif;
  }

  blockquote {
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
  }
  
  ol, ul {
    // padding-left: 20px;
    
    li {
        font-size: 16px;
        line-height: 26px;
      }
  }
  
  span.post-date {
    display: block;
    margin: -5px 0 10px;
    color: #ccc;
  }
  
  div.post-sharing-buttons {
    position: absolute;
    top: 12px;
    right: -120px;
  }
  
  div.post-admin-box {
    position: absolute;
    top: 0px;
    left: -120px;
  }
}



/* POST NAV
====================== */
#post-navigation {
  margin-bottom: 40px;
}

a.previous-post {
  float: left;
  // color: $purple;
}

a.next-post {
  float: right;
  // color: $purple;
}

/* POST SIDEBAR
====================== */

section.post-form-container {
  position: relative;
}

div.post-info {
  background: #EFEFEF;
  border: 1px solid #DDDDDD;
  padding: 10px;
  p {
    font-size: 14px;
    font-family: arial;
  }
}

div.post-info {
  position: absolute;
  top: 12px;
  right: -420px;
  width: 400px;
}


/* EDIT/NEW A POST
====================== */
div.word-count {
  margin: 10px 0;
}
form.ag-post-form {
  position: relative;
}

div.post-edit-left-sidebar {
  position: absolute;
  top: 12px;
  left: -120px;
}

.post-input-field {
  background-color: transparent;
  border: 0px solid;
  outline: none;
  border-radius: 0px;
  box-shadow: none;
}

textarea.post-input-title {
  margin-bottom: 10px;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  color: #2c3e50;
  font-weight: 500;
  line-height: 1.4em;
  height: 1.4em;
  padding: 0;
  overflow: hidden;
  word-wrap: break-word;
  resize: none;

  &:focus {
    background: none;
    border: none;
  }
}

textarea.ag-post-editing-field {
  height: 800px;
  font-family: 'Open Sans', serif;
  font-size: 18px;
  line-height: 130%;
  padding: 0;
}

/* Word Count when editing
=========================== */
ul#word-count.result {
  list-style-type: none;
  border-radius: 5px;
  margin: 0 0 10px;
  padding: 1.5em;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  list-style: none;

}

/* YOUTUBE
=========================== */
div.youtube-video {
  margin-bottom: 10px;
}



/* Responsive
-------------------------------------------------- */

@media (max-width: 980px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  pre {
    font-size: 12px;
    line-height: 20px;
  }
  .related h2,
  .posts h3 a {
    text-align: center;
  }
  .posts h3 a small {
    display: block;
    line-height: 20px;
  }
  
  .post-container {
    position: relative;
    margin-top: 14px;
    margin-bottom: 40px;
  }
}
