<%= link_to preschool_farm_fun_path, class: "app-store-link" do %>
  <div class='appstore-pack'>
    <section class='appstore-button'>
      <div class='appstore-iphone'>
        <div class='appstore-knob'></div>
      </div>
      <center><span class="appstore">Available on <h2>June 2nd</h2></span></center>
      <div class='clearfix'></div>
    </section>
    <!-- <h1 class='appstore-price'>$9.00</h1> -->
  </div>
<% end %>