
<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form action="http://humanswithkids.us7.list-manage1.com/subscribe/post?u=d22b4dea69e28734222c73a7a&amp;id=66fde67364" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

  <!-- <h2>Subscribe to our mailing list</h2> -->

    <div class="you-should-join-because">
      <h2>After pre-ordering, join our list!</h2>
      <p>
        You’ll receive our best content plus our unfiltered thoughts on intentional parenting. As a list member, you’re also able to reply to our emails and ask questions.
      </p>
    </div>

    <div class="indicates-required">
      <span class="asterisk">*</span> required
    </div>

    <div class="mc-field-group form-group">
      <label for="mce-FNAME">First Name </label>
      <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
    </div>

    <div class="mc-field-group form-group">
      <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
      <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
    </div>

    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_d22b4dea69e28734222c73a7a_66fde67364" value=""></div>

    <div class="clear">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-md">
    </div>

<!--             <div class="modal-footer">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-md" data-dismiss="modal-APG">
    </div> -->
  </form>
</div>

<!--End mc_embed_signup-->
